{% load datatable_tags %}

    <div class="{{ card_css_class }}" id="list" data-title="">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h5 class="mr-auto">{{ card.title }}</h5>
                {{ card.menu.render }}
            </div>
        </div>
        {{ card.tab_menu.render }}
        <div class="{{ card_body_css_class }}">
            <div class="list-group">
                {% for row in card.rows %}
                    {% if row.type == 'multiple' %}<div class="row">{% endif %}
                    {% for entry in row.entries %}
                        {% if entry.entry_css_class %}<div class="{{ entry.entry_css_class }}">{% endif %}
                        {% if entry.link %}<a class="list-group-item cards-list-group-item" href="{{ entry.link }}">{% else %}<div class="list-group-item">{% endif %}
                            {% if entry.label %}
                                <label>{{ entry.label }}</label>
                                {% if entry.multiple_lines %}
                                    {% for x in entry.html %}
                                        <h4 class="list-group-item-heading {{ entry.css_class }}">{{ x|safe }}</h4>
                                    {% endfor %}
                                {% else %}
                                    <h4 class="list-group-item-heading {{ entry.css_class }}">{{ entry.html|safe }}</h4>
                                {% endif %}
                            {% else %}
                                {{ entry.html|safe }}
                            {% endif %}
                        {% if entry.link %}</a>{% else %}</div>{% endif %}
                     {% if entry.entry_css_class %}</div>{% endif %}
                    {% endfor %}
                    {% if row.type == 'multiple' %}</div>{% endif %}
                {% endfor %}
            </div>
        </div>
        {% if card.footer %}
            <div class="card-footer">
                <small style="text-align: left">{{ card.footer|safe }}</small>
            </div>
        {% endif %}
        {% if card.created_modified_dates %}
            <div class="card-footer">
                <small style="text-align: left">Date modified: {{ card.created_modified_dates.0 }}<br>Date
                    created: {{ card.created_modified_dates.1 }}
                </small>
            </div>
        {% endif %}
    </div>