{% load datatable_tags %}

    <div class="{{ card_css_class }}" id="{{ card.code }}" data-title="">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h5 class="mr-auto">{{ card.title }}</h5>
                {{ card.menu.render }}
            </div>
        </div>
        <div class="{{ card_body_css_class }}">
            {{ card.extra_card_info.html|safe }}
        </div>
        {% if card.footer %}
            <div class="card-footer">
                <small style="text-align: left">{{ card.footer|safe }}</small>
            </div>
        {% endif %}
        {% if card.created_modified_dates %}
            <div class="card-footer">
                <small style="text-align: left">Date modified: {{ card.created_modified_dates.0 }}<br>Date
                    created: {{ card.created_modified_dates.1 }}
                </small>
            </div>
        {% endif %}
    </div>