Django==3.2.7
psycopg2-binary>=2.8
django-crispy-forms==1.12.0
#django-tab-menus==0.0.13
git+https://github.com/jonesim/django-menus.git@badccaee168b3452dca7f39bf91a444106b64cf1
# django-filtered-datatables==0.0.19
git+https://github.com/jonesim/django-datatables.git@0a6b6ed735c404fe7f2b4168890d4da4c12ab359

# django-nested-modals==0.0.17
git+https://github.com/jonesim/django-modals.git@0624daf0450df3018f5c4d489a3bc70f8e4d0453

# django-ajax-helpers==0.0.20
git+https://github.com/jonesim/ajax-helpers.git@af8cb2d0bc1a8c41fbe43cca6f399d7e9429c5e0
time-stamped-model==0.2.2
date-offset==0.0.2
django-debug-toolbar==3.2.4

# make-html==0.0.2
git+https://github.com/jonesim/html-classes.git@96a44f4a5806371e7acfd37d1a0debdebae9739e