{% load ajax_helpers %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if bootstrap_version == '5' %}
    {% lib_include 'ajax_helpers' 'FontAwesome' module='ajax_helpers.includes' %}
    {% lib_include 'bootstrap5' module='cards_examples.includes' %}
    {% else %}
    {% lib_include 'ajax_helpers' 'Bootstrap' 'FontAwesome' module='ajax_helpers.includes' %}
    {% endif %}
    {% lib_include module='django_menus.includes' %}
    {% lib_include 'Modals' 'Toggle' 'select2' 'JQueryUI' 'TinyMce' 'ColourPicker' module='django_modals.includes' %}
    {% lib_include 'datatable' module='django_datatables.includes' %}
    {% lib_include 'standard' module='cards_examples.includes' %}
    {% lib_include 'jstree_proton' 'fancytree' module='cards.includes' %}

    {% block head %}{% endblock %}
</head>
<body>
 <nav class="navbar navbar-expand-lg bg-dark navbar-dark active-bar">
        {# The example app's own chrome, spelled for whichever version this page serves -- the
           cards themselves come from the matching django-cards template pack. #}
        <button class="navbar-toggler" type="button"
                {% if bootstrap_version == '5' %}data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"{% else %}data-toggle="collapse" data-target="#navbarSupportedContent"{% endif %}
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {{ menus.main_menu.render }}
        </div>
        <div class="text-light d-flex align-items-center">
            {# Which Bootstrap this page is on, and a click to see it on the other one. #}
            <a href="{{ bootstrap_toggle_url }}" class="btn btn-sm btn-outline-light {% if bootstrap_version == '5' %}me-3{% else %}mr-3{% endif %}"
               title="Currently Bootstrap {{ bootstrap_version }} -- switch to {{ bootstrap_other_version }}">
                BS{{ bootstrap_version }} &rarr; BS{{ bootstrap_other_version }}
            </a>
            {{ menus.user_menu.render }}
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>